body{
  background-color: #DCF0F2;
  height: 100%;
}

#leftSide{
  background: #00789E;
  height: 100%;
}

#rowLogSign{
 height: 100%;
}

.row {
  height: 100%;
  display: table-row;
}
.main-container{
  display:table;
  height: 100%;
  position: absolute;
}
#leftoSide{
	text-align: center;
	padding-top: 200px;
	color: white;
}
