
*{
    margin: 0;
    padding: 0;
}
body{
	background-color: #DCF0F2;
  height: 100%;
}

#leftSide{
  background: #00789E;
  height: 100%;

}

.row {
  height: 100%;
  display: table-row;
}
.main-container{
  display:table;
  height: 100%;
  position: absolute;
}
#leftoSide{
  padding-top: 190px;
  text-align: center;
 
  color: white;
}


#leftoSide h1{
  
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 100px;
  
  color: #FFFFFF;
}
#leftoSide h2{

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;

  color: #FFFFFF;
}

#leftoSide h3{

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

#signup p{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

#signup{
  padding-top: 10%;
}

#login p{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.form-control{
  width:400px;
}
#login{
  top: 33%;
}

#submit{
  margin-left: 250px;
}

.form-control{
  border-radius: 100px;
}
.navbar{
  background-color: #00789E;
}
#stubu h1{
  font-family: 'Oleo Script';
  color: white;
  padding-left: 20px;
  font-size: 60px;
}
#micon{
  padding-top: 20px;
  font-size: 20px;
}

