  *{
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

.row {
  height: 100%;
  display: table-row;
}
.main-container{
  display:table;
  height: 100%;
  position: absolute;
}
#leftoSide{
	text-align: center;
	padding-top: 200px;
	color: white;
	font-family: 'Oleo Script', cursive;
}
=======
body{
	background-color: #DCF0F2;
}
>>>>>>> parent of af84277... Fixed the Divs
=======
body{
	background-color: #DCF0F2;
}
>>>>>>> parent of af84277... Fixed the Divs
=======
body{
	background-color: #DCF0F2;
}
>>>>>>> parent of af84277... Fixed the Divs
