body{
  background-color: #DCF0F2;
  height: 100%;
}

#brand-name{
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
}

#homefeed-left{
  padding: 5%;
  margin-right: 5%;
  background-color: #00789E;
  border-style:solid;
  border-color:white;
  border-radius: 15px;
  margin-bottom:20px;
  color: white;
  height: 0%;
}

#card-homefeed{
    padding: 5%;
    margin: 3%;
    max-width: 100%;
}

.nav-link{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white
}

